  /* 
  ====== 
  Product List 
  ======
  */
.section {
    padding: 2rem 0 5rem 0;
  }
.sectionTitle {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    margin-bottom: 3.5rem;
    margin-top: 2rem;
  }
.productsCenter {
    width: var(--smallWidth);
    margin: 0 auto;
    max-width: var(--fullWidth);
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    /* align-items: start; */
  }
  @media screen and (min-width: 576px) {
  .productsCenter {
      grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
    }
  }
  /* 
  ====== 
  ProductItem
  ======
  */
  .product {
    background: var(--mainWhite);
    margin-bottom: 2rem;
    box-shadow: var(--lightShadow);
    transition: var(--mainTransition);
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: var(--mainBorderRadius);
  }
  .product:hover {
    box-shadow: var(--darkShadow);
  }
 .product img {
    height: 20rem;
    object-fit: cover;
    border-top-left-radius: var(--mainBorderRadius);
    border-top-right-radius: var(--mainBorderRadius);
  }
 .productFooter {
    padding: 1.5rem;
  }
 .productFooter h3,
 .productFooter h4,
 .productFooter p {
    margin-bottom: 0.3rem;
  }
 .productFooter h3 {
    font-size: 2rem;
  }
 .productFooter p {
    color: var(--darkGrey);
    margin-bottom: 0.5rem;
    text-transform: capitalize;
  }
  /* 
  ====== 
  Form
  ======
  */
  .search {
    margin-top: 1rem;
    padding-bottom: 0;
  }
  
  .searchForm {
    width: var(--smallWidth);
    margin: 0 auto;
    max-width: var(--maxWidth);
    background: var(--mainWhite);
    padding: 2rem 2.5rem;
    text-transform: capitalize;
    border-radius: var(--mainBorderRadius);
    box-shadow: var(--lightShadow);
  }
  
  .formControl label {
    display: block;
    margin-bottom: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    color: var(--primaryColor);
  }
  .formControl input {
    width: 100%;
    border: none;
    border-color: transparent;
    background: var(--mainBackground);
    border-radius: var(--mainBorderRadius);
    padding: 0.5rem;
    font-size: 1.2rem;
  }