/* 
  ====== 
  ProductForm
  ======
  */
  .product .productSection {
    text-align: center;
  }
 .rdw-dropdown-selectedtext img { 
    height: 12px;
    width: 12px;
 }

 .media .addImg {
    height: 300px;
    width: 200px;
    font-size: 100px;
    display: grid;
    place-items: center;
    background-color: rgb(152, 191, 235);
    font-weight: bold;
 }
 .media .addImg:hover {
  background-color: rgb(60, 125, 199);
}

.table {
  background-color: white;
  overflow: hidden;
}
.table.hidden {
  display: none;
}
.price {
  background-color: #fff;
}
.price-header {
  display: flex;
  padding: 0 15px;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.3rem;
}